<h2 align="center">Listing all article</h2>

<div align="center">
  <%= paginate @articles %>
</div>

<%= render 'article', obj: @articles %>

<div align="center">
  <%= paginate @articles %>
</div>

