<% if obj.errors.any? %>
  <div class="row">
    <div class="card col-6 offset-sm-3 alert-danger">
      <h5 class="card-heading">
          <%= pluralize(obj.errors.count, "error") %>
          prohibited this article from being saved:
      </h5>
        <div class="card-body card-text">
          <ul>
            <% obj.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    </div>
  </div>
<% end %>
