@import "bootstrap";

//typo

h2 {
  border: dashed 2px white;
  padding: 0.2em 0.5em;
}

//navigation

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  &:hover{
    opacity: 0.6;
    text-decoration: none;
  }
}

.navbar {
  margin-bottom: 15px;
}

//jumbotron

.jumbotron-extend {
  position: relative;
  background-image: asset-url('images.png');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: #fff;
    letter-spacing: -1px;
    font-weight: bold;
  }
}

.jumbotron-container {
  display: inline-block;
  margin: 0;
  text-align: center;
}

//form
.form-height {
  margin-top: 20px;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  a:hover{
    color: #222;
  }
  small{
    float: left;
  }
  ul {
    float: right;
    list-style: none;
  }
  ul li {
    float: left;
    margin-left: 15px;
  }
}

