<div class="container">
  <footer class="footer">
    <p>
      <small>
        Copyright &copy; <a href="https://www.udemy.com">The complete Ruby on Rails Developer by A</a>
      </small>
      <small class="float-right"><%=link_to "About", about_path %></small>
    </p>
  <div class="float-left card">
    <p><%= debug(params) if Rails.env.development? %></p>
  </div>
  </footer>
</div>