<div class="container mb-3">
  <% flash.each do |name, msg| %>
  <div class="alert-<%= "#{name}"%>">
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  </div>
  <% end %>
</div>

